@import url(https://fonts.googleapis.com/css?family=Rokkitt);
body {font:normal 16px/24px "Rokkitt",serif; color:#666666; border-top:20px solid #000; padding-top:60px;}
#stl-toolkit-body {width:880px; margin:0 auto;}
h1 {font:bold 23px/35px "Rokkitt",serif; color:#000; text-transform:uppercase; margin-bottom:0;}
p.intro {margin-bottom:20px;}
.stl-toolkit-ebr-listing-title, .stl-toolkit-lifestyle-listing-title {font:bold 18px/27px "Rokkitt",serif; color:#98002E;}
a {color:#B85205;}
a:hover {color:#999; text-decoration:none;}
ul {padding-left:0;}
ul li {padding:3px 0; list-style:none; padding-left:14px;}
ul li:nth-child(even) {background:#E8E5D4;}